# Assignment - 04

In [24]:
with open("census_cost.txt") as f:
    line_list = f.readlines()

In [27]:
top2_list=[]
for i in range(2):
    top2_list.append(line_list[i])

In [28]:
top2_list

['Source: https://www.genealogybranches.com/censuscosts.html\n',
 'Census Year\tTotal Population\tCensus Cost\tAverage Cost Per Person\n']

In [26]:
data_list=[]
for i in range(2,len(line_list)):
    data_list.append(line_list[i])

In [29]:
data_list

['1790\t3,929,214\t$44,377\t1.13 cents\n',
 '1800\t5,308,483\t$66,109\t1.24 cents\n',
 '1810\t7,239,881\t$178,445\t2.46 cents\n',
 '1820\t9,633,822\t$208,526\t2.16 cents\n',
 '1830\t12,866,020\t$378,545\t2.94 cents\n',
 '1840\t17,069,458\t$833,371\t4.88 cents\n',
 '1850\t23,191,876\t$1,423,351\t6.14 cents\n',
 '1860\t31,443,321\t$1,969,377\t6.26 cents\n',
 '1870\t38,558,371\t$3,421,198\t8.87 cents\n',
 '1880\t50,155,783\t$5,790,678\t11.54 cents\n',
 '1890\t62,979,766\t$11,547,127\t18.33 cents\n',
 '1900\t76,303,387\t$11,854,000\t15.54 cents\n',
 '1910\t91,972,266\t$15,968,000\t17.07 cents\n',
 '1920\t105,710,620\t$25,117,000\t23.76 cents\n',
 '1930\t122,775,046\t$40,156,000\t32.71 cents\n',
 '1940\t131,669,275\t$67,527,000\t51.29 cents\n',
 '1950\t151,325,798\t$91,462,000\t60.44 cents\n',
 '1960\t179,323,175\t$127,934,000\t71.34 cents\n',
 '1970\t203,302,031\t$247,653,000\t$1.22\n',
 '1980\t226,542,199\t$1,078,488,000\t$4.76\n',
 '1990\t248,718,301\t$2,492,830,000\t$10.02\n',
 '2000\t281,421,906\t$4.5 Billion\t$15.99\n',
 '2010*\t308,745,538\t$13 Billion\t$42.11']

In [33]:
data_list[0]

'1790\t3,929,214\t$44,377\t1.13 cents\n'

In [39]:
year_list = []
for i in range(len(data_list)-1):
    s=""
    for j in range(4):
        s = s+data_list[i][j]
    year_list.append(s)

In [40]:
year_list

['1790',
 '1800',
 '1810',
 '1820',
 '1830',
 '1840',
 '1850',
 '1860',
 '1870',
 '1880',
 '1890',
 '1900',
 '1910',
 '1920',
 '1930',
 '1940',
 '1950',
 '1960',
 '1970',
 '1980',
 '1990',
 '2000']

In [84]:
pop_list = []
for i in range(len(data_list)-1):
    s=""
    for j in range(20):
        s1 = data_list[i][j+5]
        if s1 == "\t":
            break;        
        else:
            if s1 != ",":
                s +=s1

        
    pop_list.append(s)

In [85]:
pop_list

['3929214',
 '5308483',
 '7239881',
 '9633822',
 '12866020',
 '17069458',
 '23191876',
 '31443321',
 '38558371',
 '50155783',
 '62979766',
 '76303387',
 '91972266',
 '105710620',
 '122775046',
 '131669275',
 '151325798',
 '179323175',
 '203302031',
 '226542199',
 '248718301',
 '281421906']

In [281]:
cost_list1 = []
cost_list2 = []
for i in range(len(data_list)-1):
    s = ""
    s2=""
    a = 0
    list_1= ["1","2","3","4","5","6","7","8","9","0","."]
    list_2=["B","i","l","l","o","n"]
    for j in range(len(data_list[i])):
        s1 = data_list[i][j]
        if s1 == "\t":
            a +=1

        else:
            if a ==2: 
                if s1 in list_1 or s1 in list_2:
                    s = s+s1
            elif a==3:
                if s1 in list_1:
                    s2= s2+s1
                
                    
    cost_list1.append(s)
    cost_list2.append(s2)
    for i in range(len(cost_list1)):
        if "Billion" in cost_list1[i]:
            
            cost_list1[i]=cost_list1[i].replace("Billion","0000000")
            cost_list1[i]=cost_list1[i].replace(".","")

In [282]:
cost_list1

['44377',
 '66109',
 '178445',
 '208526',
 '378545',
 '833371',
 '1423351',
 '1969377',
 '3421198',
 '5790678',
 '11547127',
 '11854000',
 '15968000',
 '25117000',
 '40156000',
 '67527000',
 '91462000',
 '127934000',
 '247653000',
 '1078488000',
 '2492830000',
 '450000000']

In [283]:
cost_list2

['1.13',
 '1.24',
 '2.46',
 '2.16',
 '2.94',
 '4.88',
 '6.14',
 '6.26',
 '8.87',
 '11.54',
 '18.33',
 '15.54',
 '17.07',
 '23.76',
 '32.71',
 '51.29',
 '60.44',
 '71.34',
 '1.22',
 '4.76',
 '10.02',
 '15.99']

In [289]:
for i in range(len(cost_list1)):
    cost_list1[i] = float(cost_list1[i])

In [293]:
for i in range(len(cost_list2)):
    cost_list2[i] = float(cost_list2[i])/100

In [304]:
for i in range(len(pop_list)):
    pop_list [i] = float(pop_list[i])/100

In [305]:
cost_list = []
for i in range(len(cost_list1)):
    cost_list.append(cost_list1[i]+cost_list2[i])

In [306]:
print(cost_list)

[44377.0113, 66109.0124, 178445.0246, 208526.0216, 378545.0294, 833371.0488, 1423351.0614, 1969377.0626, 3421198.0887, 5790678.1154, 11547127.1833, 11854000.1554, 15968000.1707, 25117000.2376, 40156000.3271, 67527000.5129, 91462000.6044, 127934000.7134, 247653000.0122, 1078488000.0476, 2492830000.1002, 450000000.1599]

In [307]:
avg_list = []
for i in range(len(cost_list1)):
    avg_list.append(cost_list[i]/pop_list[i])

In [309]:
print(avg_list)

[1.1294119205520494, 1.2453465971351891, 2.4647507963183375, 2.164520183163027, 2.9422076866039384, 4.882234976646593, 6.137282992544458, 6.26326036807626, 8.872776520304761, 11.545384737389105, 18.33466193459658, 15.535352520327834, 17.361755739170327, 23.76014844828268, 32.70697233304234, 51.28531353491541, 60.44045484194307, 71.34270331394701, 121.81531035083461, 476.06494719670303, 1002.2704361028103, 159.90226438161497]

In [311]:
with open('census_cost.csv', 'w') as f:
    writer = csv.writer(f)
    wrt=top2_list[1].split("\t")
    writer.writerow(wrt)
    for i in range(len(year_list)):
        writer.writerow([year_list[i],pop_list[i],cost_list[i],avg_list[i]])